<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Парсер новостей РокадаМед</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
<!--    <link rel="stylesheet" href="static/css/main.css">-->

</head>
<body>


    <h1>ПАРСЕР hh.ru</h1>
    <hr>
    <p>
        <h3>Парсер новостей РокадаМед</h3>
    </p>
        <ul>
                <li>
                    <a href="/">Главная страница</a>
                </li>
                <li>
                    <a href="/choise/">Парсер HH.RU</a>
                </li>
                <li>
                    <a href="/results/">Результаты парсера HH.RU</a>
                </li>
                <li>
                    <a href="/results_SQL/">Результаты парсера HH.RU + SQL</a>
                </li>
                <li>
                    <a href="/results_SQLAlchemy/">Результаты парсера HH.RU + SQLAlchemy</a>
                </li>

                <li>
                    <a href="/choise_roc/">Парсер Рокада-Мед</a>
                </li>
                <li>
                    <a href="/contacts/">Контакты</a>
                </li>
        </ul>
    <hr>

    <form method="post">
        <button type="submit">Запуск парсера новостей магазина "РокадМед"</button>

    </form>
    <p>
            <a href='{{ url_for("index") }}'>
  <button>Отменить</button>
            </a>
    <p>


    {% if info %}
    {% for item in info %}

                {{item}}
    <p>

    {% endfor %}
    {% else %}
      <p class="alert"></p>
    {% endif %}

<p class="proverb">
    Работа не волк, да прибудет с вами сила
</p>

</body>

</html>