<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>

    <h1>ПАРСЕР hh.ru</h1>
    <hr>
    <p>
        Главная страница
    </p>
        <ul>
                <li>
                    <a href="/">Главная страница</a>
                </li>
                <li>
                    <a href="/contacts/">Контакты</a>
                </li>
                <li>
                    <a href="/results/">Результаты парсера HH.RU</a>
                </li>
                <li>
                    <a href="/choise/">Парсер HH.RU</a>
                </li>
                <li>
                    <a href="/choise_roc/">Парсер Рокада-Мед</a>
                </li>


        </ul>

    <hr>



    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">ПАРСИНГ</span>
                            <span class="section-heading-lower">возможности</span>
                        </h2>
                        <p class="mb-3">Умеет парсить вакансии на HH,
                            <br> с анализом скилов и регионов размещения вакансии.
                            <br> Так же парсит новости магазина РокадаМед
                            <br> Наш парсер еще молод.
                            <br> Разные интересные возможности скоро появятся</p>
                    </div>


<p class="proverb">
    Встречают по одежке - провожают по уму!
</p>

{{q}}

</body>

</html>